   *{
                margin:0;
                padding:0;
                box-sizing: border-box;
            }
           header{
               width:100%;
               height:40px;
               background-color:#333333;
          
           } 
           img:hover{
               cursor: pointer;
           }
           nav{
               width:1226px;
               height:40px;
               margin: 0 auto;
              display: flex;
               justify-content:space-between; 
           }
           .navbar{
               width: 90%;
                display: flex;
               justify-content:space-between; 
           }
           Ul,li{
               list-style:none;
               font-size:16px;
              
           }
           a{
               text-decoration: none;
               color: rgb(140,126,130)
           }
          .top-right li,.top-left li {
               float:left;
               padding: 10px 0 10px 0;
               text-align: center;  
           }
          li>a:nth-last-child(){
              border: none;
          }
           .top1{
               display: block;
               border-right:1px solid rgb(66,61,57);
               padding:0 5px 0 5px;
               font-size:13px;
           }
           .top1:hover{
               color: white;
           }
           .top-right{
                float:right;
           }
          
           .g{
               display: block;
               font-size:13px;
               height: 40px;
               line-height: 40px;
               padding: 0 10px 0 10px;
               /*margin-top: 10px;*/
               background-color: rgb(110,110,110) ;
               color: white;
           }
           .yin{
               display: none;
               width: 270px;
               height: 100px;
               background-color: white;
               position: absolute;
               border:1px solid  black;
           }
           #gou{
               position: relative;
           }

         .g:hover{
              background-color: white;
               color: sandybrown;
           }
           #gou:hover .yin{
               display:inline-block;
               border: 1px solid rgb(222,222,222);
               border-top:none; 
               line-height: 100px;
               text-align: center;
               margin-left: -173px;
               z-index: 5;
              
           }
       /*产品展示   */
       .mu{
           width: 100%;
           height: 100px;
           margin: 0 auto;
       }
      
       #nav1,#nav1>li{
          float: left; 
       }
       .nav{
           width: 1226px;
           height: 100px;
             margin: 0 auto;
             position: relative;
             top:22px;
       }
       #nav1{
           top:20px;
           position: absolute;
           left:242px;
           height: 50px;
           display: inline-block;
            
       }
      .cd>a{
           color: black;
       }
       #nav1>li{
        margin: 0 10px 0 10px;
        height: 100px;
       }
       .xiala{
           display: none;
           width: 1920px;
           height: 200px;
           position: absolute;
           top: 57px;
           border: 1px solid rgb(222,222,222);
           z-index: 9;
           left: -590px;
           background-image: url(images/bg1.png)
       }
       .xiala>ul{
           text-align: center;
           width: 1226px;
           margin: 0 auto;
           height: 200px;
           padding: 15px auto;
           z-index: 9;
         
       }
        .xiala>ul>li{
           float: left;
           /*position: absolute;*/
          margin-top: 20px;
          margin-left: 5px;
          font-size: 13px;
          width: 16%;
       }
          #nav1>li:hover .xiala{
           display:block;
        
         
       }
       .shou{
           float: right;
           width: 300px;
           height: 56px;
           position: relative;
       }
       .shou>input{
           width: 244px;
           height: 56px;
           padding: 15px;
           font-size: 16px;
           margin-top: -1px;
           position: absolute;
       }
       .shou>span{
           display: inline-block;
           width:56px;
           height: 56px;
           border: 1px solid rgb(222,222,222);
           position: absolute;
           right: 0;
           top:-0.5px;
           text-align: center;
           line-height: 56px;
         
       }
     .shou>span:hover{
         background-color: orange;
        
     }
     .show>a:hover{
          color: white;
     }
       #nav1>.cd>a:hover{
           color: orange;
       }
      /*侧滑菜单     */
           .cehua{
            width: 1226px;  
            height: 460px;
            margin: 0 auto;
            position: relative;
            z-index: 4;
           }
           .cehua1{
             width: 232px;
             height: 460px;  
             padding: 10px auto;
           }
          .ze{
               width: 232px;
               height: 44px;

           }
           .lb{
                width: 232px;
                height: 440px;
    
           }
           .dropdown{
               display: none;
               float:left;
               width: 798px;
               height: 461px;
               position: absolute;
               left:237px;
               top: -1px;
               border: 1px solid rgb(222,222,222);
               background-image: url(images/bg1.png);
               z-index: 6;
           }
           .col-1{
               width: 250px;
               float: left;
               padding: 15px;
               background-image: url(images/bg1.png)
           }
           #menu>li:hover .dropdown{
               display:inline-block;
               
           }
           #menu>.li1:hover .dropdown{
               display: inline-block;
               width: 267px;
           }
           #menu{
               width: 236px;
               height: 460px;
               background-color: rgb(51,51,51);
               padding-top: 20px;
              
           }
           #menu>ul{
                opacity: 0.2;
           }
           #menu>li:hover{
              background-color: orange;
           }
           #menu>li>a{
               display: block;
               text-align: left;
              /*padding: 10px auto;*/
              height: 42px;
              line-height: 42px;
              color: white;
              font-size: 14px;
              padding-left: 20px;
           }
           #menu>li>a>span{
               display: inline-block;
               float: right;
               margin-right: 15px;
           }
           /*.lunbo{
               margin-top: -461px;
           }*/
  /*轮播 
         */
  #lunbo{
      margin: 0 auto;
      width: 1226px;
      height: 460px;
      margin-top: -460px;
  }
  
  #gg{
      width: 1226px;
      height: 170px;
      margin: 0 auto;
      margin-top: 15px;
      display: flex;
  }
  #nav5{
      width: 19.2%;
      height: 170px;
      background-color: rgb(66,61,57)
  }
  #nav5>ul{
      display: flex;
      flex-wrap:wrap; 
  }
  #nav5>ul>li{
      float: left;
      height: 85px;
      width: 33.3%;
     font-size: 13px;
      text-align: center;
      line-height: 85px;
      color: rgb(140,126,130);
    border: 0.2px dotted rgb(110,110,110);
    border-left: none;
    border-bottom: none;
      
  }
  #nav5>ul>li:hover{
      cursor: pointer;
      color: white;
  }
  #banner2{
      width: 80.8%;
      height: 170px;
  }
  #banner2>ul>li{
      height: 170px;
      float: left;
      margin-left: 14px;
  }
  #banner2>ul>li>img{
      height: 170px;
      width: 316px;
  }



  #lunbo3{
      width: 1226px;
      height: 438px;
      margin: 25px auto;
      overflow: hidden;
  }
  h2{
      height: 68px;
      line-height: 68px;
      font-weight: normal;
  }
  #lunbo3>ul{
      height: 340px;
      width: 2480px;
      animation: myb 5s  infinite alternate;
      animation-timing-function: initial;
      animation-delay: 3s;
  }
  #lunbo3>ul>li{
      float: left;
      width: 234px;
      height: 340px;
      background-color: rgb(222,222,222);
      margin-right: 14px;
     padding-top: 50px;
  }
  #lunbo3>ul>li>a{
      width: 234px;
      height: 110px;
      display:inline-block;
     margin:  0 auto;
     text-align: center;
     /*padding-left: 37px;*/
  }
  
  #lunbo3>ul>li>h3{
      margin-top: 50px;
      text-align: center;
      font-weight: normal;
      color: black;
  }
  #lunbo3>ul>li>h3>a{
      height: 16px;
      width: 74px;
      font-size: 16px;
  }
  #lunbo3>ul>li>p{
    
      font-size: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
      text-align: center;
  }
  @keyframes myb{
    0%{margin-left: 0;}
  100%  {margin-left:-1226px}
    
  }